@import '~/styles/main/custom-variables';

.wrapTextarea {
  position: relative;
  
  &::after {
    content: '';
    border-top: 2px solid $color-text-2;
    width: 14px;
    transform: rotate(-45deg);
    background: transparent;
    position: absolute;
    right: 3px;
    bottom: 10px;
    pointer-events: none;
    border-radius: 25%;
    z-index: 9;
  }

  .pullWrap {
    border-top: 2px solid $color-text-2;
    width: 8px;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 6px;
    right: 2px;
    pointer-events: none;
    z-index: 9;
    border-radius: 25%;
  }

  textarea {
    &::-webkit-resizer {
      display: none;
    }
  }
}
