.cardFriend {
    background: url("/img/modal/rewards_rule_bg4.png") no-repeat right center;
    background-size: auto 100%;
}

.cardAward {
    background: url("/img/modal/rewards_rule_bg5.png") no-repeat 96% 0%;
    background-size: auto 100%;
}

.cardLevelUp {
    background: url("/img/modal/rewards_rule_bg6.png") no-repeat 100% 0%;
    background-size: auto 100%;
}