@import '~/styles/main/custom-variables';

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #25262B;
  z-index: $z-index-preloader;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .spinner {
    color: var(--basic-color);
  }
}