.cardBox {

    .cardContent {
        @apply absolute left-0 right-0 -bottom-[60px] z-[3]  backdrop-blur-[5px] transition-all ease-in-out duration-700
    }
    .cardImage {
        position: relative;
        z-index: 2;
        display: block;
        transition: transform cubic-bezier(.42,0,.03,1) .7s;
    }

    &:hover {
        .cardContent {
            bottom: 0;
        }
        .cardImage {
            transform: scale3d(1.1,1.1,1);
        }
    }
}

.casino {
    @apply bg-gradient-to-t from-[#F61B4F] hover:text-white shadow-[inset_0_1px_2px_0_#FF2B5F]
}
.bitup {
    @apply bg-gradient-to-t from-[#FF9E4F] hover:text-white shadow-[inset_0_1px_2px_0_#FF9E4F]
}
.slots {
    @apply bg-gradient-to-t from-[#00BAE6] hover:text-white shadow-[inset_0_1px_2px_0_#00BAE6]
}
.racing {
    @apply bg-gradient-to-t from-[#3BC117] hover:text-white shadow-[inset_0_1px_2px_0_#3BC117]
}