.cardGame {
    background: url("/img/modal/rewards_rule_bg1.png") no-repeat 96% 0%;
    background-size: auto 100%;
    background-color: #FFFFFF11;
}

.cardCasino {
    background: url("/img/modal/rewards_rule_bg2.png") no-repeat 96% 0%;
    background-size: auto 100%;
    background-color: #FFFFFF11;
}

.cardSport {
    background: url("/img/modal/rewards_rule_bg3.png") no-repeat 96% 0%;
    background-size: auto 100%;
    background-color: #FFFFFF11;
}