.cardWithdraw {
    background: linear-gradient(180deg, rgba(253, 110, 11, 0.2) 0%, rgba(253, 110, 11, 0) 100%);
}

.cardReward {
    background: linear-gradient(180deg, rgba(255, 195, 41, 0.2) 0%, rgba(255, 195, 41, 0) 100%);
}

.cardVipHost {
    background: linear-gradient(180deg, rgba(246, 27, 79, 0.2) 0%, rgba(246, 27, 79, 0) 100%);
}

.cardBonus {
    background: linear-gradient(180deg, rgba(0, 186, 230, 0.2) 0%, rgba(0, 186, 230, 0) 100%);
}

.cardTips {
    background: linear-gradient(180deg, rgba(13, 253, 228, 0.2) 0%, rgba(13, 253, 228, 0) 100%);
}